
.agv-terms-item{
    display: inline-block;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: #10aded;
    border-color: #10aded;
    color: #fff;
    font-size: 0.75em;
}
